* {
    box-sizing: border-box;
}

.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

@media only screen and (max-width: 630px) {
	.flex-container {
		flex-direction: column;
	  }
}

img {
	width: 30%;
}


.sticker-panel {
	background-color: green;
	height: 200px;
	overflow-y: scroll;
}

.text-panel {
	background-color: blue;
	height: 200px;
}

.drawing-panel {
	background-color: yellow;
	height: 200px;
}

.import-panel {
	background-color: purple;
	height: 100px;
}

.submit-form {
	background-color: darkgrey;
	height: 43.7em;
}

form > div {
}

label {
	width: 100%;
}

input, select {
	width: 100%;
	box-sizing:border-box;
}

/*styling for drawing panel*/
.main-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

canvas {
  border: 1px black solid;
  cursor:crosshair;
}

.colors button {
  display: inline-block;
  border: 1px solid #00000026;
  border-radius: 70px;
  outline: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
}

.colors button:nth-of-type(1) {
  background-color: #FBFF00;
}

.colors button:nth-of-type(2) {
  background-color: #009fff;
}

.colors button:nth-of-type(3) {
  background-color: #000000;
}

.colors button:nth-of-type(4) {
  background-color: #FF0000;
}

.colors button:nth-of-type(5) {
  background-color: #3EFF00;
}

.colors button:nth-of-type(6) {
  background-color: #FFF;
}
