* {
    box-sizing: border-box;
}

.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

@media only screen and (max-width: 630px) {
	.flex-container {
		flex-direction: column;
	  }
}

img {
	width: 30%;
}


.sticker-panel {
	background-color: green;
	height: 200px;
	overflow-y: scroll;
}

.text-panel {
	background-color: blue;
	height: 200px;
}

.drawing-panel {
	background-color: yellow;
	height: 200px;
}

.import-panel {
	background-color: purple;
	height: 100px;
}

form {
	background-color: darkgrey;
	height: 43.7em;
}

form > div {
}

label {
	width: 100%;
}

input, select {
	width: 100%;
	box-sizing:border-box;
}